<!DOCTYPE html>
<html lang="en" ng-app="fit88">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"/>
    <link  rel="stylesheet" href="/static/css/fit.css?v=2"/>
    <base href="/"/>
    <title>全民健身</title>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
    <script th:if="${isDev}" src="static/js/lib/angular.min.js"></script>
    <script th:if="${!isDev}" src="https://cdn.bocai.centerimg.woshipt.com/88fit/angular.min.js"></script>
</head>
<body ng-controller="listCtrl">
<div class="clubBox">
    <image src="/static/img/banner.png"  class="bannerImg"/>
    <div class="tabBox">
        <div class="searchBox">
            <div class="speech">您好！</div>
            <div class="search">
                <image src="/static/img/searchIcon.png" class="searchImg" />
                <input placeholder="位置/地名/场馆" class="searchInput"  ng-model="keyword" id="input-info" ng-change="autoInput()" ng-keypress="($event.which === 13)?autoInput():0"/>
                <img src="/static/img/clear.png" class="clearIcon" ng-if="keyword!=''" ng-click="clearKeyWord()" ng-cloak=""/>
            </div>

            <ul class="searchResultBox" ng-show="showSearch" ng-cloak="">
                <li ng-repeat="item in searchResultList" ng-click="chooseSearch(item)">{{item.name}}</li>
            </ul>
        </div>
        <!--<div class="navBox">-->
              <!--<ul>-->
                  <!--<li ng-repeat="item in navList"  ng-click="selectNav(item.id)">-->
                      <!--<div ng-bind="item.name"></div>-->
                      <!--<span class="{{item.selected?'selected':'borders'}}"  ></span>-->
                  <!--</li>-->
              <!--</ul>-->
        <!--</div>-->
        <div class="rollBox">
            <div ng-repeat="item in navList"  ng-click="selectNav(item.id)">
                <span  ng-bind="item.name" ></span>
                <span class="{{item.selected?'selected':'borders'}}"  ></span>
            </div>
        </div>
    </div>
    <div id="container" tabindex="0"></div>
    <div class="compareName" ng-if="!showClubCard" ng-cloak="">杭州反掌数据科技有限公司</div>
    <image src="/static/img/position.png" id="positionIcon" class="{{showClubCard?'bottomHas':'noBottom'}}"/>
    <div style="position: fixed;bottom:0" ng-if="showClubCard" ng-cloak="">
        <div class="clubCard " >
            <span class="lines" ng-click="hideClub()"></span>
            <div style="display: flex;align-items: center;justify-content: space-between;width: 100%;position: relative;" >
                <div class="clubMess" >
                    <image class="logo" ng-src="{{conditions.clubMessage.logo?conditions.clubMessage.logo:'/static/img/logo.png'}}"/>
                    <div class="areaName" ng-bind="conditions.clubMessage.districtName"></div>
                    <div class="clubName" ng-bind="conditions.clubMessage.name"></div>
                    <div class="tipsBox">
                        <span ng-bind="conditions.clubMessage.fit88FreeItems"></span>
                    </div>
                    <!--<input type='button' id='callApp' class="btn" value='点击调起高德地图' ng-click="toMaps()"/>-->
                    <div id='callApp'  ng-click="toMaps()">
                        <img src="/static/img/map.png" class="mapIcon" />
                        <span>导航</span>
                    </div>
                </div>
                <div class="imgBox" ng-click="toDetail()" >
                    <image src="/static/img/88fit.png" class="fitIcon" ng-if="conditions.clubMessage.fit88Enabled"/>
                    <image ng-src="{{conditions.clubMessage.photos?conditions.clubMessage.photos[0]:'/static/img/defaultClub.jpg'}}"  class="clubPicture" />
                </div>
            </div>
        </div>
        <div class="openTimeBox"  ng-if="conditions.clubMessage.fit88Enabled">
            <div class="openTimeLeft">
                <img src="/static/img/openTime.png" class="openTimeIcon"/>
                <div class="timeBoxs">
                    <span>活动开放日期</span>
                    <span>{{conditions.clubMessage.fit88Time}}</span>
                </div>
            </div>
            <div class="openTimeRight" ng-click="toDetail()" >查看详情</div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    clubs = /*[[${clubs}]]*/ null;
    /*]]>*/
</script>
<script src="https://webapi.amap.com/maps?v=1.4.15&amp;key=632935e1cc9ce16eda4143e88ee3ba7d"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/js/map.js?v=2"></script>
<!--<script src="/static/js/map2.js"></script>-->
</body>
</html>