<!DOCTYPE html>
<html lang="en" ng-app="fit88">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"/>
    <link  rel="stylesheet" href="/static/css/fit.css"/>
    <base href="/"/>
    <title>场馆信息</title>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
    <script src="static/js/lib/angular.min.js"></script>
</head>
<body ng-controller="detailCtrl">
  <div class="clubDetailBox">
      <!--<div class="topBar">-->
          <!--<img src="https://bocai-center.oss-cn-hangzhou.aliyuncs.com/center_manager/static_img/return.png" />-->
          <!--<span>场馆信息</span>-->
          <!--<span style="width:0.3rem;height: 0.3rem;margin-right: 0.18rem;"></span>-->
      <!--</div>-->
      <span class="returnBtn" ng-click="rerurnIndex()">返回</span>
      <img  ng-src="{{clubDetail.photo==null?'/static/img/defaultClub.jpg':clubDetail.photo[0]}}" class="clubDaetailBanner" />
      <div class="clunDetailMess">
          <div class="detailMessLeft">
              <div class="detailName" ng-bind="clubDetail.name"></div>
              <div class="detailTips">
                  <span>台球</span>
              </div>
          </div>
          <img ng-src="{{clubDetail.logo==null?'/static/img/logo.png':clubDetail.photo[0]}}"  class="detailLogo"/>
      </div>
      <div class="fitFestival" ng-if="clubDetail.fit88Enabled">
          <img src="/static/img/banner.png" class="fitImg"/>
          <div class="openItemBox">
              <span class="openItemName">开放项目</span>
              <span class="openItemContent" ng-bind="clubDetail.fit88FreeItems">健身器械、羽毛球、篮球、拳击、游泳、各类操课</span>
          </div>
          <div class="openItemBox" style="margin-bottom: 0;">
              <span class="openItemName">开放日期</span>
              <span class="openItemContent" ng-bind="clubDetail.fit88Time">8月8/9/10日三天10:00至22:00</span>
          </div>
      </div>
      <div class="discountBox">
          <div class="discountTitle">
              <span>惠</span>
              <span>商家优惠</span>
          </div>
          <div class="nullDiscountCon">
              <span>暂无商家优惠信息</span>
          </div>
      </div>
      <div class="courseReserva">
          <div class="courseReservaTitle">
              <span>惠</span>
              <span>商家优惠</span>
          </div>
          <div class="timeBox">
               <img src="/static/img/timeLeft.png" class="leftTimeBtn" style="margin-right: 0.1rem;" ng-click="subDate()" ng-if="showLeft"/>
               <img src="/static/img/greyLeft.png" class="leftTimeBtn" style="margin-right: 0.1rem;"  ng-if="!showLeft"/>
                <div class="timeItemBox">
                 <div class="singleTimeBox " ng-repeat="item in weekLists" ng-class="item.status?'selectTime':''" ng-click="selectWeekDate(item.weekDate)">
                     <span ng-bind="'周'+item.weekTxt" ng-if="item.weekTxt!='今天'"></span>
                     <span ng-bind="item.weekTxt" ng-if="item.weekTxt=='今天'"></span>
                     <span ng-bind="item.weekDate"></span>
                 </div>
                </div>
              <img src="/static/img/blackRight.png" class="leftTimeBtn" style="margin-left: 0.1rem;" ng-click="addDate()" ng-if="showRight"/>
              <img src="/static/img/timeRightShow.png" class="leftTimeBtn" style="margin-left: 0.1rem;" ng-if="!showRight"/>
          </div>
          <div class="nullDiscountCon" style="border-top:1px solid #F3F3F3;height: 110px;">
              <span>功能暂未开放</span>
          </div>
      </div>
      <div class="centerMessBox">
          <div class="centerMessTitle">门店信息</div>
          <div class="centerMessItem">
              <span class="messItemLeft">营业时间</span>
              <div class="messItemRight">
                  <span ng-bind="clubDetail.businessTime||'--'"></span>
              </div>
          </div>
          <div class="centerMessItem">
              <span class="messItemLeft">联系方式</span>
              <div class="messItemRight">
                  <span>{{clubDetail.contractName||'--'}} {{clubDetail.contactPhone||'--'}}</span>
                  <a href="tel:{{clubDetail.contactPhone}}" style="width: 0.16rem;height: 0.16rem" ng-if="clubDetail.contactPhone"><img src='/static/img/phone.png' class="icons" /></a>

              </div>
          </div>
          <div class="centerMessItem">
              <span class="messItemLeft">地点</span>
              <div class="messItemRight">
                  <span>{{clubDetail.address}}</span>
                  <!--<img src='/static/img/address.png' class="icons" />-->
              </div>
          </div>
          <div id="maps"></div>
      </div>
      <div class="centerMessBox">
          <div class="centerMessTitle">场馆介绍</div>
          <div class="introduce">XXXXXXXXXXXXXXXXXXXXX</div>
      </div>
  </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    club = /*[[${club}]]*/ null;
    /*]]>*/
</script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webapi.amap.com/js/marker.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&amp;key=632935e1cc9ce16eda4143e88ee3ba7d"></script>
<script src="/static/js/map.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
</body>
</html>