<!DOCTYPE html>
<html lang="en" ng-app="fit88">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"/>
    <link  rel="stylesheet" href="/static/css/fit.css?v=2"/>
    <link rel="stylesheet" href="/static/css/swiper.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <base href="/"/>
    <title>场馆信息</title>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
    <script th:if="${isDev}" src="static/js/lib/angular.min.js"></script>
    <script th:if="${!isDev}" src="https://cdn.bocai.centerimg.woshipt.com/88fit/angular.min.js"></script>
</head>
<body ng-controller="detailCtrl">
  <div class="clubDetailBox">
      <!--<div class="topBar">-->
          <!--<img src="https://bocai-center.oss-cn-hangzhou.aliyuncs.com/center_manager/static_img/return.png" />-->
          <!--<span>场馆信息</span>-->
          <!--<span style="width:0.3rem;height: 0.3rem;margin-right: 0.18rem;"></span>-->
      <!--</div>-->
      <span class="returnBtn" ng-click="rerurnIndex()">返回</span>
      <img src="/static/img/defaultClub.jpg" ng-if="clubDetail.photos==null"  class="clubDaetailBanner"  ng-cloak=""/>
      <div class="swiper-container" ng-if="clubDetail.photos!=null" ng-cloak="">
          <div class="swiper-wrapper">
              <div class="swiper-slide" ng-repeat="item in clubDetail.photos">
                  <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
                   <img  ng-src="{{item}}" class="clubDaetailBanner" />
                </p>
              </div>
          </div>
          <div class="swiper-pagination" style="margin-bottom: 10px;"></div>
      </div>
      <div class="clunDetailMess">
          <div class="detailMessLeft">
              <div class="detailName" ng-bind="clubDetail.name"></div>
              <div class="detailTips" ng-if="clubDetail.specials!=null">
                  <span ng-repeat="item in clubDetail.specials">{{item}}</span>
              </div>
              <div class="detailTips" ng-if="clubDetail.specials==null" style="font-size: 0.12rem;">暂无项目</div>
          </div>
          <img ng-src="{{clubDetail.logo==null?'/static/img/logo.png':clubDetail.logo}}"  class="detailLogo"/>
      </div>
      <div class="fitFestival" ng-if="clubDetail.fit88Enabled">
          <img src="/static/img/banner.png" class="fitImg"/>
          <div class="openItemBox">
              <span class="openItemName">开放项目</span>
              <span class="openItemContent" ng-bind="clubDetail.fit88FreeItems"></span>
          </div>
          <div class="openItemBox">
              <span class="openItemName">开放日期</span>
              <span class="openItemContent" ng-bind="clubDetail.fit88Time"></span>
          </div>
          <div class="centerMessItem">
              <span class="messItemLeft">联系方式</span>
              <div class="messItemRight">
                  <span ng-bind="clubDetail.fit88ContactName+' '+clubDetail.fit88ContactPhone"></span>
                  <a href="tel:{{clubDetail.fit88ContactPhone}}" style="width: 0.16rem;height: 0.16rem" ng-if="clubDetail.fit88ContactPhone"><img src='/static/img/phone.png' class="icons" /></a>

              </div>
          </div>
      </div>
      <div class="discountBox">
          <div class="discountTitle">
              <span>惠</span>
              <span>商家优惠</span>
          </div>
          <div class="nullDiscountCon">
              <span>暂无商家优惠信息</span>
          </div>
      </div>
      <div class="courseReserva">
          <div class="courseReservaTitle">
              <span style="background:linear-gradient(180deg,rgba(149,188,250,1) 0%,rgba(121,123,200,1) 100%);">订</span>
              <span>课程预约</span>
          </div>
          <div class="timeBox">
               <img src="/static/img/timeLeft.png" class="leftTimeBtn" style="margin-right: 0.1rem;" ng-click="subDate()" ng-if="showLeft"/>
               <img src="/static/img/greyLeft.png" class="leftTimeBtn" style="margin-right: 0.1rem;"  ng-if="!showLeft"/>
                <div class="timeItemBox">
                 <div class="singleTimeBox " ng-repeat="item in weekLists" ng-class="item.status?'selectTime':''" ng-click="selectWeekDate(item.weekDate)">
                     <span ng-bind="'周'+item.weekTxt" ng-if="item.weekTxt!='今天'"></span>
                     <span ng-bind="item.weekTxt" ng-if="item.weekTxt=='今天'"></span>
                     <span ng-bind="item.weekDate"></span>
                 </div>
                </div>
              <img src="/static/img/blackRight.png" class="leftTimeBtn" style="margin-left: 0.1rem;" ng-click="addDate()" ng-if="showRight"/>
              <img src="/static/img/timeRightShow.png" class="leftTimeBtn" style="margin-left: 0.1rem;" ng-if="!showRight"/>
          </div>
          <div class="nullDiscountCon" style="border-top:1px solid #F3F3F3;height: 110px;">
              <span>功能暂未开放</span>
          </div>
      </div>
      <div class="centerMessBox">
          <div class="centerMessTitle">门店信息</div>
          <div class="centerMessItem">
              <span class="messItemLeft">营业时间</span>
              <div class="messItemRight">
                  <span ng-bind="clubDetail.businessTime||'--'"></span>
              </div>
          </div>
          <div class="centerMessItem">
              <span class="messItemLeft">联系方式</span>
              <div class="messItemRight">
                  <span>{{clubDetail.contactName||'--'}} {{clubDetail.contactPhone||'--'}}</span>
                  <a href="tel:{{clubDetail.contactPhone}}" style="width: 0.16rem;height: 0.16rem" ng-if="clubDetail.contactPhone"><img src='/static/img/phone.png' class="icons" /></a>
              </div>
          </div>
          <div class="centerMessItem">
              <span class="messItemLeft">地点</span>
              <div class="messItemRight" style="width: 72%;">
                  <span style="width: 88%;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;" ng-click="toMaps()">{{clubDetail.address}}</span>
                  <img src='/static/img/detailMap.png' class="maps"  ng-click="toMaps()"/>
              </div>
          </div>
          <div id="maps"></div>
      </div>
      <div class="centerMessBox">
          <div class="centerMessTitle">场馆介绍</div>
          <div class="introduce">暂无场馆介绍</div>
      </div>
  </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    club = /*[[${club}]]*/ null;
    /*]]>*/
</script>
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="/static/js/lib/swiper.min.js"></script>
      <script src="/static/js/lib/swiper.animate.min.js"></script>
      <script src="https://webapi.amap.com/maps?v=1.4.15&amp;key=632935e1cc9ce16eda4143e88ee3ba7d"></script>
      <script src="/static/js/map.js?v=2"></script>
</body>
</html>